# Python
__pycache__/
*.pyc
back_end/venv/
venv/
*/venv/
front_end/dist

# Logs
*.log
logs/

# Node.js
node_modules/
front_end/node_modules/

# OS / Editor specific
.DS_Store
.vscode/

# Temporary files
jules-scratch/
temp_verify/
*.db

back_end/num.id
back_end/*.exe
参考/*
